<div ng-controller="Sidebar as vm">
    <ht-sidebar when-done-animating="vm.sidebarReady()">
        <div class="sidebar-filler"></div>
        <div class="sidebar-dropdown"><a href="#">Menu</a></div>
        <div class="sidebar-inner">
            <div class="sidebar-widget"></div>
            <ul class="navi">
                <li class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)"
                    ng-repeat="r in vm.navRoutes">
                    <a ng-if="(r.name === 'task.todo')" class="disabled" uib-tooltip="Implement me to see the next task! =)" tooltip-class="customClass"><i class="fa fa-group"></i> Task 3</a>
                    <a ng-if="(r.name !== 'task.todo')" ui-sref="{{r.name}}"
                    ng-bind-html="r.settings.content">
                    </a>
                </li>
            </ul>
        </div>
    </ht-sidebar>
</div>
