<section class="mainbar">
    <section class="matter">
        <div class="container">
            <article class="day-desc">
                <h2>--- The Quickest Path ---</h2>
                <div ng-show="vm.showInstructions" style="border: 1px solid #ccc; padding: 15px;">
                <pre>
                    Imagine yourself sitting in a brand new electric car. Like all electric cars, they need power to charge its battery.
                    Your final destination will require the battery to be charged a few times, but since the charging process can be quite
                    time consuming and known to "try one's patience" - we want to minimize this daunting procedure much as possible.
    
                    The car model you obtained, while packed with gadgets (it contains an integrated robotic servant, a candy
                    machine and has the ability to fly short distances - interesting information of course, but clearly irrelevant for the
                    task at hand), were the unfortunate recipient of a faulty battery (serial nbr: X13.37).
                    The battery simply disintegrates if left unused for an extended time with juice left to give. In other words - don't charge
                    and park.
    
                    You want to reach your destination with as few stops to refuel as possible. You are now sitting in your car inside your garage
                    and start up your car's holographic map gadget and input your destination and request the computer to display all EVCS
                    (electric vehicle charging stations) between your position to the destination. Each EVCS has an integer linked to it,
                    which represents the <code>maximum</code> distance a full charge at this charging station will allow you to travel.
    
                    Having all charging stations distance integer represented in one array - your goal is to reach your destination in the
                    minimum number of pit-stops.
                    
                    For example, given array A:
                    <code><pre>
         garage    destination     
             |       |
             |       |
             v       v
            [2,3,1,1,4]
                    </pre></code>
                    The minimum number of stops to reach your final destination is 2. (move 1 step from index 0 to 1, then 3 steps to the last index.)
                    
                    Your task:
                    You want to program the logic for your travel assistance AI to always give you the fastest route based on the available EVCS.
                    Write a function that accepts the parameter of an array of integers that returns the minimum number of stops as well as the indexes
                    of the array where those stops are found.

                    * You can assume that you can always reach the last index.

                </pre>
                </div>
                <br/>
                <a class="btn btn-default">
                    <h2 ng-click="vm.toggleInstructions()">{{vm.showInstructions ? 'Hide' : 'Show'}} instructions</h2>
                </a>
                <br/><br/>
                <button ng-click="vm.getNewList()" class="btn btn-default">generate new list</button>
                <p>
                    input: <strong>{{vm.task.list}}</strong><br>
                    your result should be: <strong>{{vm.task.solution}}</strong><br>
                </p>
                <p>result: <strong>{{vm.result.numberOfStops}}</strong></p>
                <p>
                    <ul>
                        <li ng-repeat="stop in vm.result.indexes">
                            index: {{stop.index}}, val: {{stop.val}}
                        </li>
                    </ul>
                </p>
            </article>
        </div>
    </section>
</section>